// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-content {
	font-size: 1.1em;
	padding: 25px 100px 25px 100px; /*top right bottom left*/
 }

.article-keywords {
	margin-top: 10px;
	font-size: 1.1em;
}